<!DOCTYPE html>
<html>
<head>
    <title>{{ event.title }} | TopEventNite</title>
</head>
<body>

<h1>{{ event.title }}</h1>

<p><strong>Description:</strong> {{ event.description }}</p>
<p><strong>Date & Time:</strong> {{ event.start_datetime }}</p>
<p><strong>Location:</strong> {{ event.location }}</p>
<p><strong>Venue:</strong> {{ event.venue }}</p>

{% if remaining_spots > 0 %}
    <p><strong>Remaining Spots:</strong> {{ remaining_spots }}</p>
{% else %}
    <p><strong>Sold Out</strong></p>
{% endif %}

<p><strong>Price:</strong> £{{ event.price }}</p>
<p><strong>Organiser:</strong> {{ event.organiser.username }}</p>

{% if user.is_authenticated and user_role == "attendee" %}
    {% if remaining_spots > 0 %}
        <form method="POST" action="{% url 'book_ticket' event.id %}">
            {% csrf_token %}
            <button type="submit">Book Ticket</button>
        </form>
    {% else %}
        <p>This event is sold out.</p>
    {% endif %}
{% endif %}

<p><a href="{% url 'event_list' %}">Back to events</a></p>

{% if user == event.organiser %}
    <p>
        <a href="{% url 'edit_event' event.id %}">Edit Event</a>
    </p>

    <p>
        <a href="{% url 'delete_event' event.id %}">Delete Event</a>
    </p>

    <p>
        <a href="{% url 'event_attendees' event.id %}">View Event Bookings</a>
    </p>
{% endif %}
{% if event.event_image %}
    <img src="{{ event.event_image.url }}" alt="{{ event.title }}">
{% endif %}

<p><strong>Total Bookings:</strong> {{ total_bookings }}</p>

</body>
</html>